.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menuItem {
    padding: 0.5rem;
    background-color: var(--background);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.current {
    font-style: italic;
    color: var(--Accent);
}