.view {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.textarea {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    padding: 0.5rem;
    border: 1px solid var(--Accent);
    border-radius: 0.4rem;
    background-color: var(--backgroundAccent);
    color: var(--foreground);
    font-size: 1rem;
    outline: none;
    resize: none;
}

.hint {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}