.view {
    width: 100%;
    height: 100%;
}

.username {
    font-style: italic;
    color: var(--Accent);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 15rem;
}

.menuItem {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: var(--background);
    transition-duration: 200ms;
    border: none;
    outline: none;
    color: var(--foreground);
    &:hover {
        background-color: var(--Accent);
    }
}

.menuItemActive {
    background-color: var(--Accent);
    font-weight: bold;
}

.contentPage {
    width: 100%;
    height: 100%;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.startpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}