.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--Accent);
    color: var(--foreground);
    cursor: pointer;
    transition-duration: 200ms;
    &:hover {
        opacity: 0.7;
    }
}