.buttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.overlayContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.databaseItemRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.adminHint {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.editDatabaseContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editDbButtons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}