.container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--Accent);
    border-radius: 0.4rem;
    background-color: var(--backgroundAccent);
    color: var(--foreground);
    font-size: 1rem;
    outline: none;
}