.page {
    width: 50vw;
    height: 65vh;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.headline {
    width: 100%;
    text-align: center;
}