.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    //width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

.buttonGroup {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}