.databasesList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 12rem;
    overflow-y: auto;
}

.databaseBtn {
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: 0.25rem;
    background-color: var(--background);
    cursor: pointer;
    transition-duration: 200ms;
    &:hover {
        background-color: var(--Accent);
    }
}