.card {
    border-radius: 0.4rem;
    background-color: var(--backgroundAccent);
    padding: 2rem;
}

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    pointer-events: auto;
    overflow: hidden;
}